          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '61' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICUADOS              ____bebidas_____61be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '63' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> JUGOS NATURALES       ____bebidas_____63be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '65' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> APERITIVOS            ____bebidas_____65be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '67' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICORES Y VARIOS      ____bebidas_____67be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '69' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> WHISKY                ____bebidas_____69be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '71' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> GASEOSAS              ____bebidas_____71be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '73' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS              ____bebidas_____73be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '75' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS BLANCOS         ____bebidas_____75be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '77' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS TINTOS          ____bebidas_____77be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
