          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '5' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENTRADAS FRIAS        ____comidas_____05co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '7' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENTRADA CALIENTE      ____comidas_____07co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PICADAS               ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENSALADAS             ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '13' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENSALADA ESPECIAL     ____comidas_____13co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '15' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MILANESA TERNERA      ____comidas_____15co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '17' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MILA O SUP POLLO      ____comidas_____17co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '19' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PASTAS CASERAS        ____comidas_____19co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '21' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> NUESTRAS SALSAS       ____comidas_____21co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '23' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SALSAS ESPECIALES     ____comidas_____23co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '25' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> POLLO GRILL Y SALT    ____comidas_____25co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '27' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> CARNES ROJAS          ____comidas_____27co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '29' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> OTRAS CARNES          ____comidas_____29co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '31' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> NUESTRA PARRILLA      ____comidas_____31co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '33' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> TORTILLAS             ____comidas_____33co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '35' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> OMELETTES             ____comidas_____35co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '37' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> GUAR P/ACOMP PLATOS   ____comidas_____37co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '39' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PESCADOS              ____comidas_____39co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '41' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SALSA ESP PESCADO     ____comidas_____41co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '43' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PIZZAS                ____comidas_____43co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '45' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> EMPANADAS             ____comidas_____45co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '47' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SANDW CALIENTE        ____comidas_____47co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '49' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SANDW FRIA            ____comidas_____49co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/sanca/snippet/<%= '51' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SANDW DE MIGA         ____comidas_____51co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
